
.blog_title {
  position: absolute;
  right: 10px;
  top: 10px;
}

.list {
  width: 800px;
  margin: 0 auto;

  .item {

    padding: 8px;
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr;

    .image {
      height: 100px;
      width: 100px;
    }
    .text {
      padding: 8px;

      .title {
        font-size: 24px;
      }
      .date {
        font-size: 12px;
      }
    }

    &:hover {
      background-color: rgb(226, 226, 226);
    }
  }
}